{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
  <div class="row text-white mb-5">
   
    <div class="col-sm-3 text-center">
      <ul class="list-unstyled">
        <li>
          <i class="fas fa-map-marker-alt fa-2x text-danger"></i>
          <h5>Patna, Bihar, India</h5>
        </li>
        <li>
          <i class="fas fa-phone mt-4 fa-2x  text-success"></i>
          <h5>+ 91 7979939971</h5>
        </li>
        <li>
          <i class="fas fa-envelope mt-4 fa-2x  text-warning"></i>
          <h5>connect.sudhirkumar@gmail.com</h5>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}