{% extends 'core/base.html' %}
{% load static %}
{% block content %} 
<div class="mt-5">
 <!-- <div class="text-center">
  <img src="{% static 'core/images/pic1.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
 </div> -->
 <div class="mt-5 text-white mx-5 text-justify">
     <h1 class="border-bottom bg-primary">Objective</h1>
  <!-- <h1 class="font-weight-bold st-font">Hello,</h1> -->
  <div class="px-4" style="line-height:2rem;">
   <!-- <p style="text-indent:100px;"> I am <b class="text-warning">Sudhir Kumar</b> having 5 years of full-stack web development experience for global businesses, I offer the technical expertise you are seeking for your web developer position.</p>
   <p>Since earning my bachelor’s degree in internet and web development from XYZ University, I have served as a web developer at <b class="text-warning">GeekyShows Technology</b>, one of biggest premier digital marketing and web development firm. In this position, I have led web development projects for clients in diverse industries including technology, manufacturing, pharmaceutical, hospitality, retail and financial services.</p>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet sapiente reiciendis numquam optio? Enim eligendi quae ducimus ipsam consectetur dicta veritatis sunt. Pariatur vel modi alias eum ducimus nam temporibus.</p> -->
    <h5>To get an opportunity where I can upgrade my skills with time and contribute to the Organisation's growth.</h5>
</div>
</div>
 
</div>
    

<div>
    <h1 class="mt-5 mx-5 text-justify border-bottom text-white" style="background-color: darkgreen;">Education </h1>
    <h5 class="px-5 text-white"><span><i class="fas fa-graduation-cap text-white" style="font-family:monospace;"></i></span> <i class="text-warning">Rajasthan Institute of Engineering & Technology</i> (2013 - 2017)</h5>
    <p class="px-5 text-white" style="text-indent: 50px;" ><i class="fas fa-hand-point-right text-primary" ></i>Bachelor of Technology in Computer Science & Engineering with 70.28%</p>
    
    <h5 class="px-5 text-white"><span><i class="fas fa-school text-white"></i></span><i class="text-warning"> May Flower School, Patna, Bihar, </i> 2012</h5>
    <p class="px-5 text-white" style="text-indent: 50px;" ><i class="fas fa-hand-point-right text-primary" ></i>Intermediate from C.B.S.E with 60%</p>
    
    <h5 class="px-5 text-white"><span><i class="fas fa-school text-white"></i></span><i class="text-warning"> Shifaly International School, Ludhiana, Punjab, </i> 2010</h5>
    <p class="px-5 text-white" style="text-indent: 50px;" ><i class="fas fa-hand-point-right text-primary" ></i>Matriculation from C.B.S.E with 65%</p>
    
</div>



    

 
{% endblock content %}